<template>
  <el-form>
    <el-form-item label="First Name">
      <el-input v-model.trim="user.firstName" />
    </el-form-item>
    <el-form-item label="Last Name">
      <el-input v-model.trim="user.lastName" />
    </el-form-item>
    <el-form-item label="Username">
      <el-input v-model.trim="user.username" />
    </el-form-item>
    <el-form-item label="Email">
      <el-input v-model.trim="user.email" />
    </el-form-item>
    <el-form-item>
      <el-button
        type="primary"
        @click="submit"
      >
        Update
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { IProfile } from '../index.vue'
import { updateUser } from '@/api/users'
import { UserModule } from '@/store/modules/user'
import messageprompt from '@/utils/message-prompt'

@Component({
  name: 'Account'
})
export default class extends Vue {
  @Prop({ required: true }) private user!: IProfile

  private submit() {
    try {
      const data: any = {
        username: this.user.username,
        email: this.user.email,
        firstName: this.user.firstName,
        lastName: this.user.lastName
      }
      updateUser(this.user.id, data)
      UserModule.UpdateUserInfo(data)
      messageprompt('User information successfully updated', 'success')
    } catch (error) {
      messageprompt('Unable to update profile, contact admin', 'error')
      console.log(error)
    }
  }
}
</script>
