<template>
  <div class="app-container">
    <el-button
      type="primary"
      @click="handleCreateUser"
      class="btn-new-user"
      v-if="isAdmin"
    >
      {{ $t('user.create')  }}
    </el-button>

    <!-- User Table -->
    <el-table :data="userList" border class="tbl-user">
      <!-- ID -->
      <el-table-column
        align="center"
        label="ID"
        width="100"
      >
        <template slot-scope='{row}'>
          {{ row.id }}
        </template>
      </el-table-column>
      <!-- Username -->
      <el-table-column
        align="center"
        label="Username"
      >
        <template slot-scope='{row}'>
          {{ row.username }}
        </template>
      </el-table-column>
      <!-- Role -->
      <el-table-column
        align="center"
        label="Role"
      >
        <template slot-scope='{row}'>
          <el-tag
            v-for="role in row.roles"
            type="info"
            :key="role"
            style="margin: 5px 5px;"
          >
            {{ role }}
          </el-tag>
        </template>
      </el-table-column>
      <!-- Email -->
      <el-table-column
        align="center"
        label="Email"
        width="240"
      >
        <template slot-scope='{row}'>
          {{ row.email }}
        </template>
      </el-table-column>
      <!-- First Name -->
      <el-table-column
        align="center"
        label="First Name"
      >
        <template slot-scope='{row}'>
          {{ row.firstName }}
        </template>
      </el-table-column>
      <!-- Last Name -->
      <el-table-column
        align="center"
        label="Last Name"
      >
        <template slot-scope='{row}'>
        {{ row.lastName }}
        </template>
      </el-table-column>
      <!-- User Operations -->
      <el-table-column
        align="center"
        label="Operations"
        v-if="isAdmin"
      >
        <template slot-scope="scope">
          <!-- Edit -->
          <el-button
            type="primary"
            size="mini"
            @click="handleEdit(scope)"
          >
            {{ $t('user.edit') }}
          </el-button>
          <!-- Delete -->
          <el-button
            type="danger"
            size="mini"
            @click="handleDelete(scope)"
          >
            {{ $t('user.delete') }}
          </el-button>
        </template>
      </el-table-column>
      <!-- /User Operations -->
    </el-table>
    <!-- /User Table -->

    <!-- New or Edit User Dialog -->
    <el-dialog
      :visible.sync="dialogVisible"
      :title="dialogType==='edit'?'Edit User':'New User'"
    >
      <el-form
        :model="user"
        label-position="left"
        label-width="120px"
      >
        <!-- Username -->
        <el-form-item
          label="Username"
        >
          <el-input
            v-model="user.username"
            placeholder="Username"
          />
        </el-form-item>
        <!-- Password, visible only in New User Form -->
        <el-form-item
          label="Password"
          v-if="dialogType === 'new'"
        >
          <el-input
            v-model="user.password"
            placeholder="Password"
          />
        </el-form-item>
        <!-- Email -->
        <el-form-item label="Email">
          <el-input
            v-model="user.email"
            placeholder="Email"
          />
        </el-form-item>
        <!-- First Name -->
        <el-form-item label="First Name">
          <el-input
            v-model="user.firstName"
            placeholder="First Name"
          />
        </el-form-item>
        <!-- Last Name -->
        <el-form-item label="Last Name">
          <el-input
            v-model="user.lastName"
            placeholder="Last Name"
          />
        </el-form-item>
        <el-form-item
          label="Role"
          v-if="dialogType === 'new'"
        >
          <template>
            <el-select
              placeholder="Select Role"
              v-model="user.role"
            >
              <el-option
                v-for="role in roles"
                :key="role"
                :label="role"
                :value="role"
              >
              </el-option>
            </el-select>
          </template>
        </el-form-item>
        <el-form-item
          label="Activate"
          v-if="dialogType === 'new'"
        >
          <el-switch v-model="user.activate">
          </el-switch>
        </el-form-item>
      </el-form>
      <el-form
        label-position="left"
        label-width="120px"
        v-if="dialogType ==='edit'"
      >
        <el-form-item label="Role">
          <template>
            <el-select
              placeholder="Select Role"
              v-model="user.roles[0]"
              @change="handleUserRole"
            >
              <el-option
                v-for="role in roles"
                :key="role"
                :label="role"
                :value="role"
              >
              </el-option>
            </el-select>
          </template>
          <div>
            <small>Selecting roles will partially update user's associated roles</small>
          </div>
        </el-form-item>
      </el-form>

      <!-- Dialog Actions -->
      <div class="btn-dialog-form">
        <el-button
          type="primary"
          @click="confirmUser(user)"
        >
          {{ $t('user.confirm') }}
        </el-button>
        <el-button
          type="danger"
          @click="dialogVisible=false"
        >
          {{ $t('user.cancel') }}
        </el-button>
      </div>
    </el-dialog>
    <!-- /New or Edit User Dialog -->
  </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator'
import { getUsers, updateUser, updateUserRole, deleteUser, register } from '@/api/users'
import { cloneDeep } from 'lodash'
import { UserModule } from '@/store/modules/user'
import { getRoles } from '@/api/roles'

interface IUser {
  id: number
  username: string
  email: string
  roles: string[]
  firstName: string
  lastName: string
}

interface IRole {
  id: number
  slug: string
  name: string
}

const defaultUser: IUser = {
  id: 0,
  username: '',
  email: '',
  roles: [],
  firstName: '',
  lastName: ''
}

@Component({
  name: 'User'
})

export default class extends Vue {
  private user = Object.assign({}, defaultUser)
  private userList: IUser[] = []
  private currentUserRole: any = []
  private roles: any = []
  private roleList: IRole[] = []
  private dialogType = 'new'
  private dialogVisible = false
  private isAdmin = false
  created() {
    this.getUsers()
    this.getRoles()
    this.isUserAdmin()
  }

  @Watch('$route')
  private userPageRendered() {
    if (this.$route.path === '/user/index') {
      this.refreshUserTable()
    }

    if (this.$route.path === '/profile/index') {
      if (Number(this.user.id) === UserModule.id) {
        UserModule.GetUserInfo()
      }
    }
  }

  private async getUsers() {
    const { data } = await getUsers({/* Params here */})
    data.forEach((d: any) => {
      this.userList.push({
        id: d.id,
        username: d.attributes.username,
        email: d.attributes.email,
        roles: d.attributes.role,
        firstName: d.attributes.first_name,
        lastName: d.attributes.last_name
      })
    })
  }

  private refreshUserTable() {
    this.userList = []
    this.getUsers()
  }

  private async handleUserRole(role: string) {
    await updateUserRole(this.user.id, { slug: role })
    this.user.roles[0] = role
    this.updateCurrentUserTableData(this.user)
    // duration: 2.5 secs
    this.$notify({
      title: 'Reminder',
      message: `Role of user ${this.user.username} was partially updated`,
      type: 'info',
      duration: 2500
    })
  }

  private async getRoles() {
    const { data } = await getRoles({/* Params here */})
    data.forEach((role: any) => {
      this.roleList.push({
        id: role.id,
        slug: role.attributes.slug,
        name: role.attributes.name
      })
      this.roles.push(role.attributes.slug)
    })
  }

  private isUserAdmin() {
    for (let index = 0; index < UserModule.roles.length; index++) {
      if (UserModule.roles[index] === 'administrator') {
        this.isAdmin = true
      }
    }
  }

  private handleCreateUser() {
    this.user = Object.assign({})
    this.dialogType = 'new'
    this.dialogVisible = true
  }

  private handleEdit(scope: any) {
    this.user = cloneDeep(scope.row)
    this.currentUserRole = this.user.roles
    this.dialogType = 'edit'
    this.dialogVisible = true
  }

  private handleDelete(scope: any) {
    const { $index, row } = scope
    this.$confirm('Confirm delete user?', 'Warning', {
      confirmButtonText: 'Delete',
      cancelButtonText: 'Cancel',
      type: 'warning'
    })
      .then(async() => {
        await deleteUser(row.id)
        this.userList.splice($index, 1)
        this.$message({
          type: 'success',
          message: 'Deleted User!',
          showClose: true
        })
      })
      .catch(error => { console.log(error) })
  }

  private updateCurrentUserTableData(user: any) {
    /* Cycle through existing user list and update only target user */
    for (let index = 0; index < this.userList.length; index++) {
      if (this.userList[index].id === user.id) {
        this.userList.splice(index, 1, user)
        break
      }
    }
  }

  private async confirmUser(user: any) {
    const isEdit = this.dialogType === 'edit'
    let notifMessage = ''

    if (isEdit) {
      await updateUser(user.id, user)
      this.updateCurrentUserTableData(user)
      this.dialogVisible = false

      notifMessage = `Updated User: <strong>${user.username}</strong>`
    } else {
      await register(user)
      this.dialogVisible = false
      this.refreshUserTable()

      notifMessage = `Created User: <strong>${user.username}</strong>`
    }
    this.$notify({
      title: 'SUCCESS',
      dangerouslyUseHTMLString: true,
      message: notifMessage,
      duration: 3800,
      showClose: true
    })
    // End of If
  }
}

</script>

<style lang="scss" scoped>
.app-container {
  .btn-new-user {
    margin-bottom: 30px;
  }
  .btn-dialog-form {
    text-align: right;
  }
  .tbl-user {
    width: 100%;
  }
}
</style>
