<template>
  <div class="app-container">
    <el-button
      type="primary"
      class="btn-new-user"
    >
      {{ $t('permission.createRole')  }}
    </el-button>

    <!-- TABLE -->
    <el-table
      :data="roleList"
      row-key="id"
      @expand-change="setActiveName"
    >
      <el-table-column type="expand">
        <template slot-scope="{row}">
          <!-- Permissions Heading -->
          <h4 class="permission-heading">Permissions</h4>

          <!-- Permissions Pane -->
          <template>
            <el-tabs
              :value="activeName"
            >
              <template
                v-for="(r,index) in row.permissions"
              >
                <el-tab-pane
                  :label="r.label"
                  :name="r.label"
                  :key="index"
                >
                  <span
                    v-for="(child,idx) in r.children"
                    :key="idx"
                  >
                    <el-tag
                      v-if="child.value"
                      effect="plain"
                      style="margin-right: 5px;"
                    >
                      {{ child.label }}
                    </el-tag>
                  </span>
                </el-tab-pane>
              </template>
            </el-tabs>
          </template>
          <!-- /Permissions Heading -->
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        :label="$t('table.name')"
      >
        <template slot-scope="{row}">
          <span>{{ row.name }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        :label="$t('table.slug')"
      >
        <template slot-scope="{row}">
          <span>{{ row.slug }}</span>
        </template>
      </el-table-column>
      <el-table-column
        align="center"
        :label="$t('table.actions')"
      >
        <template slot-scope="{row}">
          <el-button
            type="primary"
            size="small"
            icon="el-icon-edit"
            @click="handleEdit(row)"
          >
            {{ $t('permission.editPermission') }}
          </el-button>
          <el-button
            type="danger"
            size="small"
          >
            {{ $t('permission.delete') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- /TABLE -->

    <!-- New or Edit Form -->
    <el-dialog
      :title="textMap[dialogStatus]"
      :visible.sync="dialogFormVisible"
    >
      <el-form
        ref="dataForm"
        :rules="rules"
        label-position="left"
        label-width="100px"
        style="width: 400px; margin-left:50px;"
      >
        <el-form-item
          :label="$t('table.name')"
        >
          <el-input
            v-model="tempRoleData.name"
          />
        </el-form-item>
        <el-form-item
          :label="$t('table.slug')"
        >
          <el-input
            v-model="tempRoleData.slug"
          />
        </el-form-item>
        <el-form-item
          label="Permissions"
        >
          <el-tree
            ref="tree"
          />
        </el-form-item>
      </el-form>
      <div
        slot="footer"
        class="dialog-footer"
      >
        <el-button @click="dialogFormVisible = false">
          {{ $t('table.cancel') }}
        </el-button>
        <el-button
          type="primary"
        >
          {{ $t('table.confirm') }}
        </el-button>
      </div>
    </el-dialog>
    <!-- /New or Edit Form -->
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import { Form } from 'element-ui'
import { getRoles } from '@/api/roles'
import { getActionId, getResourceName, getResourceNameAction } from '@/utils/roleTree'
import { cloneDeep } from 'lodash'

interface IRole {
  id: number
  slug: string
  name: string
  permissions: any
}

/* const defaultActions = ['index', 'show', 'store', 'update', 'delete'] */

@Component({
  name: 'Roles'
})
export default class extends Vue {
  private role = Object.assign({})
  private roleList: IRole[] = []
  private activeName = ''

  private dialogFormVisible = false
  private dialogStatus = ''
  private tempRoleData: IRole[] = []

  private textMap = {
    update: 'Edit',
    create: 'Create'
  }

  private defaultProps = {
    label: 'label',
    children: 'children'
  }

  private rules = {
    name: [{ required: true, message: 'Name is required', trigger: 'change' }],
    slug: [{ required: true, message: 'Slug is required', trigger: 'change' }]
  }

  created() {
    this.getRoles()
  }

  private setActiveName(row: any) {
    this.activeName = row.permissions[0].label
  }

  private async getRoles() {
    const { data } = await getRoles({ })
    const roles = data
    roles.map((role: any) => {
      /* this.$set(role, 'edit', false) */
      this.roleList.push({
        id: role.id,
        slug: role.attributes.slug,
        name: role.attributes.name,
        permissions: this.generateTreeData(role.attributes.permissions)
      })
      /* console.log(this.roleList) */
      return this.roleList
    })
  }

  private handleEdit(row: any) {
    this.tempRoleData = Object.assign({}, row)
    this.dialogStatus = 'update'
    this.dialogFormVisible = true
    this.$nextTick(() => {
      (this.$refs.dataForm as Form).clearValidate()
    })
  }

  private confirmEdit(row: any) {
    //
  }

  private cancelEdit(row: any) {
    this.$message({
      message: `Role editing cancelled: ${row.name}`,
      type: 'warning'
    })
  }

  private generateTreeData(object: any) {
    const resourceName = getResourceName(object)
    return getResourceNameAction(resourceName, object)
  }

  private generateDefaultKey(object: any) {
    return getActionId(this.generateTreeData(object))
  }
}
</script>

<style lang="scss" scoped>
.edit-input {
  padding-left: 40px;
  padding-right: 40px;
}
.cancel-btn {
  position: absolute;
  right: 15px;
  top: 10px;
}
.el-tabs {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.permission-heading {
  margin-top: 0;
  margin-bottom: 0;
}
</style>
